<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendoCSS")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        body {
            padding-top: 70px;
        }

        .dropright {
            position: relative;
        }

            .dropright .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="@Url.Action("Index", new { Area = "" })">
                <img src="~/images/bird.jpg" alt="logo" style="width:40px;">
            </a>
            <!-- 漢堡選單 -->
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarItem">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarItem">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home", new { Area = "" })">首頁</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">功能</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Index","Products", new { Area = "" })">Products</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("About", "Home", new { Area = "" })">關於</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">系統</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Setting","Home", new { Area = "" })">語系</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/kendoJS")
    @Scripts.Render("~/bundles/SharedJS")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {

        });
    </script>
</body>
</html>
