@model MyWeb.Models.ViewModel.vw_Products

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div>
    <h4>商品詳細資訊</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd id="dProductName">
                 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>

        <dd id="dCompanyName">

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd id="dCategoryName">

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>

        <dd id="dQuantityPerUnit">
           
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd id="dUnitPrice">
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>

        <dd id="dUnitsInStock">
           
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>

        <dd id="dUnitsOnOrder">
            
        </dd>

    </dl>
</div>

@section scripts{
    <script type="text/javascript">
        var apiStr = '@Url.HttpRouteUrl("DefaultApi", new { controller= "ProductsApi" })' + '/' + '@Model.ProductID';
        debugger;
        function init() {
            $.ajax({
                url: apiStr,
                type: 'GET',
                async: false,
                success: function (data) {
                    //$("#ProductName").val(data.ProductName);
                    $("#dProductName").text(data.ProductName);
                    $("#dCompanyName").text(data.CompanyName);
                    $("#dCategoryName").text(data.CategoryName);
                    $("#dQuantityPerUnit").text(data.QuantityPerUnit);
                    $("#dUnitPrice").text(data.UnitPrice);
                    $("#dUnitsInStock").text(data.UnitsInStock);
                    $("#dUnitsOnOrder").text(data.UnitsOnOrder);
                }
            });
        }
        $(function () {
            init();
        });
    </script>
}
