@model IEnumerable<MyWeb.Models.ViewModel.vw_Categories>

@{
    ViewBag.Title = "Index";
}


<p>
    <button type="button" class="btn btn-success" onclick="openDialog(0,'create')">Create New</button>
</p>
<table class="table table-hover" id="catTable">
    <tr>
        <th>
            @MyWeb.Resource.App_GlobalResources.NorthWindResource.CategoryName
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>
</table>

@section scripts{
    <script type="text/javascript">
        var dialog = new Object;
        function openDialog(id, actionPage) {
            var openUrl = '';
            if (actionPage == 'detail') {
                openUrl = '@Url.Action("Detail", new { area = "" })';
            } else if (actionPage == 'create') {
                openUrl = '@Url.Action("Create", new { area = "" })';
            } else if (actionPage == 'edit') {
                openUrl = '@Url.Action("Edit", new { area = "" })';
            }
            //debugger;
            dialog = new BootstrapDialog({
                title: '資訊',
                type: BootstrapDialog.TYPE_INFO,
                id: 'cat_popup',
                closable: true,
                closeByBackdrop: false,
                closeByKeyboard: false,
                cssClass: 'mydialog',
                message: function (dialogMessage) {
                    var pageContent = String.format("<iframe width=\"100%\" height=\"{2}\" frameborder=\"0\"  allowtransparency=\"true\" src=\"{0}{1}\"></iframe>", dialogMessage.getData('pageToLoad'), dialogMessage.getData('pageParam'), $(window).innerHeight()/1.5);
                    var $content = $(pageContent);
                    return $content;
                },
                draggable: true,
                data: {
                    'pageToLoad': '',
                    'pageParam': ''
                },
                animate: false,
                onshow: function (dialogRef) {
                },
                onhide: function (dialogRef) {
                },
                onhidden: function (dialogRef) {
                }
            });

            dialog.setData('pageToLoad', openUrl);
            dialog.setData('pageParam', '/' + id);

            dialog.realize();
            //dialog.setSize(BootstrapDialog.SIZE_WIDE);
            dialog.open();
        }

        function closeDialog() {
            dialog.close();
            initTable();
        }
        var apiStr = '@Url.HttpRouteUrl("DefaultApi", new { controller= "CategoriesApi" })';
        function initTable() {

            $.ajax({
                url: apiStr,
                type: 'GET',
                async: false,
                success: function (data, textStatus, xhr) {
                    //console.log(data);
                    $("#catTable").empty();
                    $("#catTable").append(
                        "<thead class=\"table-primary\">"+
                            "<tr>" +
                            "<th>@MyWeb.Resource.App_GlobalResources.NorthWindResource.CategoryName</th>" +
                            "<th>Description</th>" +
                            "<th>" +
                            "</th>" +
                            "</tr>" +
                        "</thead>" +
                        "<tbody>"
                    );
                    for (var i = 0; i < data.length; i++) {
                        $("#catTable").append(
                            "<tr>" +
                                "<td class=\"table-active\">" + data[i].CategoryName+"</td>" +
                                "<td>" + data[i].Description +"</td>" +
                                "<td>" +
                                    "<button type=\"button\" class=\"btn btn-primary\" onclick=\"openDialog('" + data[i].CategoryID + "','edit')\">Edit</button> |" +
                                    "<button type=\"button\" class=\"btn btn-warning\" onclick=\"openDialog('" + data[i].CategoryID + "','detail')\">Details</button> |" +
                                    "<button type=\"button\" class=\"btn btn-danger\" onclick=\"fnDelete('" + data[i].CategoryID + "')\">Delete</button>" +
                                "</td>" +
                            "</tr>"
                        );
                    }
                    $("#catTable").append(                       
                        "</tbody>"
                    );
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            });
        }

        function fnDelete(id) {
            var r = confirm('確定要刪除嗎?');
            if (r == true) {
                var url = apiStr + '/' + id;
                debugger;
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (result) {
                        if (result.Success) {
                            alert('刪除成功');
                            initTable();
                        }
                    },
                    error: function (result) {

                    }
                });
            }
        }

        $(function () {
            initTable();
        });
    </script>
}